

<div class=note>
  <ul>
    <div class=note-content>
      <li><h2><%= note.content %></h2></li>
    </div>
    <div class=note-author>
      <p>--written by <%= note.user.name %> to <%= note.visible_to %></p>
  </div>
</ul>
</div>
