<div class=note>
  <div class=note-content>
    <%= link_to note.content, note_path(note) %> <%= " - " if policy(note).update? %> <%= link_to "Edit", edit_note_path(note) if policy(note).update? %>  </div>
  <div class=note-author>
    Author: <%= note.user.email %>
  </div>
</div>
