<div class=note>
  <div class=note-content>
    <%= note.content %>
  </div>
  <div class=note-author>
    <%= note.user.name if note.user%>
  </div>
  <%= link_to "Delete", note_path(note), method: "DELETE" %>
</div>
