<div class=note>
  <%= note.id %>
  <div class=note-content>
    <%= link_to note.content, note_path(note) %>
  </div>
  <br />
  <div class=note-author>
    by <%= note.user.name %>
  </div>
  <div>
    <%= "visible to #{note.visible_to}" %>
  </div>
</div>
<br />
