<h1>Notes Index</h1>

<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<%= render @notes %>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %><br>
