<!DOCTYPE html>
<html>
<head>
  <title>Not a CancanLab</title>
  <%= render 'layouts/navigation' %>
  <% if flash.any? %>
   <% flash.each do |name, msg| %>
     <%= content_tag :div, msg, class: name %>
   <% end %>
  <% end %>
 
</head>
<body>
  
<%= yield %>

</body>
</html>
